body {
  background-color: #000;
  height: 100%;
  min-height: 100%;
  font-family: lato, arial;
  overflow: hidden;
}

button {
  margin: .2rem;
  padding: .3rem;
}

.main {
 display: block;
 height: 100%;
 min-height: 100%;
 width: 100%;
 overflow: hidden;
}

.point {
  height: 2px;
  width: 2px;
  position: absolute;
  perspective: 600rem;
}

.legend {
  background-color: #2a2052;
  bottom: 0;
  padding: 1rem;
  position: absolute;
  width: 16rem;
  z-index: 1;
}

.legend h3 {
  color: yellow;
  font-size: 1.3rem;
}

.legend ul {
  padding: 0;
  margin: .5rem;
}

.legend ul li {
  color: white;
  font-size: .8rem;
}

.fly {
   animation-duration: 10s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.elipse {
  animation: round 2s infinite linear;
}

.flytl {
   // animation-name: topleft;
   animation-name: girar;

}

.flytr {
   animation-name: topright;
}

.flybl {
   animation-name: bottomleft;
}

.flybr {
   animation-name: bottomright;
}

@keyframes round {
 from {
   transform: rotate(0deg)  translate(-.1rem) rotate(0deg);
   -webkit-transform: rotate(0deg)  translate(-8rem) rotate(0deg);
  }
 to {
   transform: rotate(360deg) translate(-.1rem) rotate(-360deg);
   -webkit-transform: rotate(360deg) translate(-8rem) rotate(-360deg);
  }
}

@keyframes topleft {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(-3, -1.5rem);
    transform: translate(-3rem, -1.5rem);
  }
}

@keyframes topright {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

  }

  to {
    -webkit-transform: translate(3rem, -1.5rem);
    transform: translate(3rem, -1.5rem);
  }
}

@keyframes bottomleft {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

  }

  to {
    -webkit-transform: translate(3rem, 1.5rem);
    transform: translate(3rem, 1.5rem);
  }
}

@keyframes bottomright {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

  }

  to {
    -webkit-transform: translate(-3rem, 1.5rem);
    transform: translate(-3rem, 1.5rem);
  }
}

.legend ul li:nth-of-type(7) {
  color: #abbbdc;
}

.legend ul li:nth-of-type(6) {
  color: #c1d1e8;
}

.legend ul li:nth-of-type(5) {
  color: #f6f6f8;
}

.legend ul li:nth-of-type(4) {
  color: #f8f1e7;
}

.legend ul li:nth-of-type(3) {
  color: #f8f2e6;
}

.legend ul li:nth-of-type(2) {
  color: #f2ce9c;
}

.legend ul li:nth-of-type(1) {
  color: #f2c76b;
}

.planet {
  width:100px;
	height:100px;
  background: url(https://gara501.github.io/stars/textures/mercury.png);
	border-radius:120px;
	background-size: 374px;
	background-color:#FFF;
  position: absolute;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	animation: rotate 25s infinite linear;
	-webkit-animation: rotate 25s infinite linear;
	-moz-animation: rotate 25s infinite linear;
  -o-animation: rotate 25s infinite linear;
  animation-fill-mode: forwards;
  	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}
.planet-texture {
box-shadow: inset 2px 8px 10px rgba(255,255,255,0.7),
inset -19px -19px 70px rgba(0,0,0,0.9),
inset -5px -5px 8px rgba(0,0,0,0.7),
-5px -5px 10px 1px rgba(255,255,255,0.5),
5px 5px 30px 1px rgba(0,150,255,0.5);
}

@keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
@-webkit-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
@-moz-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
@-o-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
